/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: inherit; }
  a:focus {
    outline: none;
    border: none; }

button {
  outline: none;
  border: none; }

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: inherit; }

html {
  box-sizing: border-box; }

body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  color: #333333;
  background-color: #FFFFFF; }

.heading--primary {
  font-size: 36px;
  color: #333333;
  text-align: left; }
  @media only screen and (max-width: 37.5em) {
    .heading--primary {
      font-size: 24px; } }

.text--nav-link {
  font-size: 1rem;
  line-height: 20px;
  font-weight: bold;
  opacity: 0.6; }
  .text--nav-link:hover, .text--nav-link:active, .text--nav-link:focus {
    opacity: 1; }

.link-active {
  opacity: 1; }

.text--footer {
  font-size: 12px;
  color: #858585;
  letter-spacing: 0.01px; }

.text--bold {
  font-weight: bold; }

.card--heading {
  font-size: 24px;
  font-weight: bold; }
  @media only screen and (max-width: 37.5em) {
    .card--heading {
      font-size: 14px; } }

.card--source-text, .card--time-text {
  font-size: 18px;
  font-weight: normal; }
  @media only screen and (max-width: 37.5em) {
    .card--source-text, .card--time-text {
      font-size: 12px; } }

.card--image-settings {
  font-size: 12px; }

.card--paragraph {
  font-size: 20px;
  color: black; }
  @media only screen and (max-width: 37.5em) {
    .card--paragraph {
      font-size: 18px; } }

.card__l .card--paragraph {
  font-size: 24px;
  color: #333333; }
  @media only screen and (max-width: 37.5em) {
    .card__l .card--paragraph {
      font-size: 18px; } }

.card--data-climate {
  font-size: 18px;
  color: black; }
  @media only screen and (max-width: 37.5em) {
    .card--data-climate {
      font-size: 14px; } }

.card--data-paragraph {
  font-size: 20px;
  color: black; }

.card--data-music-title {
  font-size: 20px;
  color: black; }
  @media only screen and (max-width: 37.5em) {
    .card--data-music-title {
      font-size: 18px; } }

.card--data-music {
  font-size: 14px;
  color: rgba(161, 161, 161, 0.84); }
  @media only screen and (max-width: 37.5em) {
    .card--data-music {
      font-size: 14px; } }

.grid {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 5.75rem 1fr 4rem;
  grid-template-columns: minmax(1.25rem, 1fr) 64rem minmax(1.25rem, 1fr);
  grid-template-areas: "header header header"  ". content ." "footer footer footer"; }
  @media only screen and (max-width: 56.25em) {
    .grid {
      width: 100%;
      grid-template-rows: 4.13rem max-content minmax(3rem, 4rem);
      grid-template-columns: 1.25rem 1fr 1.25rem; } }
  .grid .header {
    grid-area: header; }
  .grid .content {
    grid-area: content; }
  .grid .footer {
    grid-area: footer; }

.header {
  position: sticky;
  display: flex;
  align-items: center;
  border-bottom: 0.06rem solid #F0F0F0; }
  @media only screen and (max-width: 37.5em) {
    .header {
      border-bottom: none; } }
  .header__logo {
    margin-right: 1.31rem;
    margin-left: 2.63rem;
    width: 6.75rem; }
    .header__logo .logo {
      width: 100%; }
    @media only screen and (max-width: 37.5em) {
      .header__logo {
        margin-left: 1.25rem; } }
  .header__nav {
    position: relative; }
    @media only screen and (max-width: 37.5em) {
      .header__nav {
        margin-left: auto;
        margin-right: 1.25rem; } }
    @media only screen and (max-width: 37.5em) {
      .header__nav__list {
        display: none; } }
    .header__nav__item {
      display: inline-block; }
      .header__nav__item:not(:last-child) {
        margin-right: 1.75rem; }
    .header__nav__checkbox {
      display: none; }
    .header__nav__toggle {
      display: none; }
      @media only screen and (max-width: 37.5em) {
        .header__nav__toggle {
          display: block;
          width: 1rem;
          height: .83rem;
          cursor: pointer; } }
    .header__nav__checkbox:checked + .header__nav__list {
      display: block;
      position: absolute;
      left: -5rem;
      z-index: 50;
      padding: 0 1rem;
      background-color: white;
      border: 1px solid #FAFAFA; }
      .header__nav__checkbox:checked + .header__nav__list > * {
        padding-top: .5rem;
        padding-bottom: .5rem;
        border-bottom: 1px solid #FAFAFA; }

.content {
  height: 100%;
  width: 64rem;
  padding-top: 1.13rem;
  padding-bottom: 5rem; }
  @media only screen and (min-width: 112.5em) {
    .content {
      width: 80rem; } }
  @media only screen and (max-width: 56.25em) {
    .content {
      width: 100%; } }
  @media only screen and (max-width: 37.5em) {
    .content {
      padding-top: 0; } }
  .content__header {
    margin-bottom: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .content__header {
        margin-bottom: 1.19rem; } }

.events {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1.25rem;
  grid-auto-flow: dense; }
  @media only screen and (max-width: 56.25em) {
    .events {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1rem; } }
  @media only screen and (max-width: 37.5em) {
    .events {
      grid-template-columns: 1fr;
      grid-gap: 1rem; } }

.card__s {
  grid-column-start: span 2;
  grid-row-start: span 1; }
  @media only screen and (max-width: 37.5em) {
    .card__s {
      grid-column-start: span 1; } }

.card__m {
  grid-column-start: span 3;
  grid-row-start: span 1; }
  @media only screen and (max-width: 56.25em) {
    .card__m {
      grid-column-start: span 4; } }
  @media only screen and (max-width: 37.5em) {
    .card__m {
      grid-column-start: span 1; } }

.card__l {
  grid-column-start: span 4;
  grid-row-start: span 3; }
  @media only screen and (max-width: 37.5em) {
    .card__l {
      grid-column-start: span 1; } }

.footer {
  display: flex;
  align-items: center;
  border-top: 1px solid #F0F0F0; }
  .footer__list {
    width: 100%;
    display: flex;
    padding-left: 2.5rem; }
  .footer__item {
    display: inline-block;
    margin-right: 1rem; }
    .footer__item:last-child {
      margin-left: auto;
      margin-right: 2.06rem; }
  @media only screen and (max-width: 37.5em) {
    .footer {
      display: none; } }

.card {
  display: block;
  background-color: #FAFAFA;
  font-size: 0.88rem;
  border-radius: 1.25rem;
  cursor: pointer;
  transition: all .2s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative; }
  .card__type--top {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1.25rem; }
  .card__type--bottom {
    flex: 1 0;
    grid-area: info;
    display: grid;
    grid-template-areas: "description description" "data data";
    position: relative; }
  .card__s .card__type--top,
  .card__s .card__type--bottom {
    grid-row-gap: 1.25rem; }
  .card__s .card__type--top {
    padding: 0.86rem 1.25rem 1.25rem 1.31rem;
    grid-template-areas: "header header" "source source" "time time"; }
    @media only screen and (max-width: 37.5em) {
      .card__s .card__type--top {
        grid-template-areas: "header header" "source time"; } }
    @media only screen and (max-width: 37.5em) {
      .card__s .card__type--top {
        padding: 1rem; } }
  .card__s .card__type--bottom {
    padding: 0 1.25rem 0 1.31rem; }
    @media only screen and (max-width: 37.5em) {
      .card__s .card__type--bottom {
        padding: 0 1rem 0 1rem; } }
  .card__m .card__type--top,
  .card__m .card__type--bottom {
    grid-row-gap: 1.33rem; }
  .card__m .card__type--top {
    grid-template-areas: "header header" "source time";
    padding: 1.25rem 1.25rem 0.5rem 1.25rem; }
    @media only screen and (max-width: 37.5em) {
      .card__m .card__type--top {
        padding: 1rem 1rem 1rem 1rem; } }
  .card__m .card__type--bottom {
    padding: 1.25rem; }
    @media only screen and (max-width: 37.5em) {
      .card__m .card__type--bottom {
        padding: 1rem; } }
  .card__m .card--time-text {
    text-align: right; }
  .card__l .card__type--top,
  .card__l .card__type--bottom {
    grid-row-gap: 1.5rem; }
  .card__l .card__type--top {
    grid-template-areas: " header header" "source time";
    padding: 1.25rem; }
    @media only screen and (max-width: 37.5em) {
      .card__l .card__type--top {
        padding: 1rem 1rem 1rem 1rem; } }
  .card__l .card__type--bottom {
    padding: 0 1.25rem 1.25rem 1.25rem; }
    @media only screen and (max-width: 37.5em) {
      .card__l .card__type--bottom {
        padding: 0 1rem 1rem 1rem; } }
  .card__l .card--time-text {
    text-align: right; }
  .card__l .card__description {
    margin-right: 1.5rem;
    color: #333333; }
  .card__critical {
    background-color: #DB5341;
    color: white; }
    .card__critical::after {
      content: "";
      display: block;
      height: .0005rem; }
    .card__critical ~ .card__type--bottom::before {
      content: "";
      display: block;
      height: 1.25rem;
      width: 100%;
      background-color: #FAFAFA;
      border-top-left-radius: 1.25rem;
      border-top-right-radius: 1.25rem;
      position: absolute;
      top: -1rem; }
  .card__info {
    background-color: #FAFAFA;
    color: #333333; }
  .card__header {
    grid-area: header;
    width: 100%;
    display: flex;
    align-items: center; }
    .card__header .card__icon {
      margin-right: 1.21rem; }
  .card__title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; }
  .card__source {
    grid-area: source;
    align-self: end; }
  .card__time {
    grid-area: time;
    align-self: end; }
  .card__description {
    grid-area: description;
    z-index: 2; }
  .card__data {
    grid-area: data;
    align-self: end;
    z-index: 2; }
    .card__data__image {
      overflow: hidden; }
      .card__data__image--img {
        width: 100%;
        border-radius: 1.25rem; }
      .card__data__image__settings {
        display: none; }
        @media only screen and (max-width: 37.5em) {
          .card__data__image__settings {
            display: flex;
            justify-content: space-between;
            margin-top: .88rem;
            flex-wrap: wrap; } }
        .card__data__image__settings .settings--range {
          flex: 0 0 80%;
          margin: auto; }
    .card__data__climate {
      display: flex; }
    .card__data__temperature {
      margin-right: 3.25rem; }
    .card__data__buttons {
      display: flex; }
      @media only screen and (max-width: 37.5em) {
        .card__data__buttons {
          justify-content: space-between; } }
      .card__data__buttons--btn {
        width: 8.25rem;
        height: 3.38rem;
        background: #E5E5E5;
        border-radius: 8px; }
        @media only screen and (max-width: 37.5em) {
          .card__data__buttons--btn {
            height: 2.25rem; } }
        .card__data__buttons--btn:first-child {
          background: #FFD93E;
          margin-right: 1.13rem; }
          @media only screen and (max-width: 37.5em) {
            .card__data__buttons--btn:first-child {
              margin-right: .25rem; } }
        .card__data__buttons--btn:hover {
          background: #FFD93E;
          cursor: pointer; }
    .card__data__albumcover {
      margin-right: 1rem; }
      .card__data__albumcover--img {
        width: 3.31rem;
        border-radius: 20%; }
    .card__data__music {
      width: 100%; }
      .card__data__music .music__header, .card__data__music .music__player, .card__data__music .music__track, .card__data__music .music__icons {
        display: flex;
        align-items: center; }
      .card__data__music .music__header {
        margin-bottom: 1.25rem; }
      .card__data__music .music--img {
        width: 3.31rem;
        border-radius: 20%; }
      .card__data__music .music__main {
        width: 100%; }
        .card__data__music .music__main > .card__data__artist:first-child {
          margin-bottom: 1rem; }
      .card__data__music .music__track {
        width: 100%; }
        .card__data__music .music__track--range {
          flex: 1 1 100%;
          cursor: pointer;
          -webkit-appearance: none; }
          .card__data__music .music__track--range:focus {
            outline: none; }
          .card__data__music .music__track--range::-webkit-slider-runnable-track {
            border: 1px solid #979797;
            height: .06rem; }
          .card__data__music .music__track--range::-moz-range-track {
            border: 1px solid #979797; }
          .card__data__music .music__track--range::-ms-thumb {
            border: 1px solid #979797; }
          .card__data__music .music__track--range::-moz-range-thumb {
            background: rgba(216, 216, 216, 0.3);
            border-radius: 4.5px; }
          .card__data__music .music__track--range::-webkit-slider-thumb {
            -webkit-appearance: none;
            transform: translateY(-50%);
            background: rgba(216, 216, 216, 0.3);
            border-radius: 4.5px;
            height: 1.25rem;
            width: 0.75rem; }
      .card__data__music .music__player {
        width: 100%; }
        .card__data__music .music__player--range {
          width: 100%;
          flex: 1 1 100%;
          -webkit-appearance: none; }
          .card__data__music .music__player--range::-webkit-slider-runnable-track {
            border-radius: 2px;
            background-color: rgba(216, 216, 216, 0.3);
            height: .25rem; }
          .card__data__music .music__player--range::-moz-range-track {
            border-radius: 2px;
            background-color: rgba(216, 216, 216, 0.3); }
          .card__data__music .music__player--range::-ms-thumb {
            border-radius: 2px;
            background-color: rgba(216, 216, 216, 0.3); }
          .card__data__music .music__player--range::-moz-range-thumb {
            background: #605757;
            border-radius: 26px; }
          .card__data__music .music__player--range::-webkit-slider-thumb {
            -webkit-appearance: none;
            transform: translateY(-30%);
            background: #605757;
            border-radius: 26px;
            height: 1rem;
            width: 1rem; }
      .card__data__music .music__icons--item:first-child {
        margin-right: 1.69rem; }
      .card__data__music .music__icons--item:nth-child(2) {
        margin-right: .2rem; }
  .card__hover-icon {
    display: none; }
  .card:hover {
    background-color: #F3F3F3;
    box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.5); }
    .card:hover .card__info,
    .card:hover .card__info::before {
      background-color: #F3F3F3; }
    .card:hover .card__hover-icon {
      display: block;
      position: absolute;
      right: 1.25rem;
      z-index: 100; }
      .card:hover .card__hover-icon--top {
        top: 1.25rem; }
      .card:hover .card__hover-icon--bottom {
        bottom: 1.25rem; }

.icon--card {
  width: 3.25rem;
  height: 3.25rem;
  display: flex; }
  @media only screen and (max-width: 37.5em) {
    .icon--card {
      width: 2.25rem;
      height: 2.25rem; } }
  .icon--card__hover {
    width: 1rem;
    height: 1rem; }

.icon--music {
  display: block;
  width: 53px;
  height: 52px; }

.icon--rotated {
  transform: rotate(180deg); }

.icon--header-nav {
  width: 1rem; }
