$bg-color:#FFFFFF;

$card-color:#FAFAFA;
$card-critical-color:#DB5341;
$card-color-hover:#F3F3F3;
$color-dark:#333333;
$color-light-grey:#858585;
$color-border:#F0F0F0;

$color-music-text:#A1A1A1;

$color-music-range-1: #979797;
$color-music-range-2: rgba(216,216,216,0.30);
$color-music-range-3: #605757;

$button-active-color: #FFD93E;
$button-color: #E5E5E5;


$grid-gap:1.25rem;
$grid-mobile-gap:1rem;
