.grid{
    height: 100%;
    display: grid;
    grid-template-rows: 5.75rem 1fr 4rem;
    grid-template-columns: $grid-gap 1fr $grid-gap ;
    grid-template-areas:"header header header" 
                        ". content ."
                        "footer footer footer";

    @include responsive(tab-port) {
        width: 100%;
        grid-template-rows: 4.13rem max-content minmax(3rem,4rem); //4rem 8.75rem
        grid-template-columns: $grid-gap 1fr $grid-gap ;
    }
    .header{
        grid-area: header;
    }

    .content{
        grid-area: content;

        width: 100%;
        height: 100%;
        display: grid;
        grid-template-areas:". page .";
        grid-template-columns: minmax(0,1fr) max-content minmax(0,1fr) ;


    }
    .footer{
        grid-area: footer; 
    }

}
.events-page {
    width: 64rem;
    grid-area: page;

}
.summary-page{
    grid-area: page;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows:   minmax(1rem,1.81rem) minmax(21.69rem,23.19rem) $grid-gap minmax(1rem,1.81rem) 7rem ;
    grid-template-columns: minmax(39.375rem,1fr) minmax(1rem,1.63rem) minmax($card-width,1fr) ;
    grid-template-areas:". . ."
                        "main . scenarios"
                        ". . ."
                        "devices devices devices"
                        ". . .";

    .main{
        grid-area: main;
    }

    .scenarios{
        grid-area: scenarios;
    }
    .devices{
        grid-area: devices;
    }
}

// .grid{
//     height: 100%;
//     width: 100%;
//     display: grid;
//     grid-template-rows:  minmax(3.25rem,5.75rem) minmax(1rem,1.81rem) minmax(21.69rem,23.19rem) minmax(1rem,1.81rem)   10.31rem minmax(3rem,4rem);
//     grid-template-columns: minmax(1rem, $edge-margin)  minmax(39.375rem,1fr) minmax(1rem,1.63rem) minmax($card-width,1fr)  minmax(.5rem, $edge-margin);
//     .header{
//         grid-row: 1;
//         grid-column: 1/-1;
//     }
//     .main{
//         grid-row: 3;
//         grid-column: 2;
//     }
    
//     .scenarios{
//         grid-row: 3;
//         grid-column: 4;
//     }
//     .devices{
//         grid-row: 5;
//         grid-column: 2/-1;
//     }
//     .footer{
//         grid-row: 6;
//         grid-column: 2/-1;
//     }


//     @include responsive(phone) {
//         grid-template-rows:  4rem 17.64rem 1.93rem 8.75rem 1.94rem 8.75rem;
//         grid-template-columns: 1.25rem minmax(20.94rem,1fr) 1.25rem;
    
//         .header{
//             grid-row: 1;
//             grid-column: 1/-1;
//         }
//         .main{
//             grid-row: 2;
//             grid-column: 2;
//         }
        
//         .scenarios{
//             grid-row: 4;
//             grid-column: 2/-1;
//         }
//         .devices{
//             grid-row: 6;
//             grid-column: 2/-1;
//         }
//         .footer{
//            display: none;
//         }
//     }
// }

