.card {
    display: block;
    background-color: $card-color;

    font-size: 0.88rem;
    border-radius: 1.25rem;
    cursor: pointer;
    transition: all .2s;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;

    &__type {

        &--top {
            display: grid;
            grid-template-columns: 1fr;

            grid-row-gap: 1.25rem;
        }

        &--bottom {
            flex: 1 0;
            grid-area: info;

            display: grid;
            grid-template-areas:
                "description description"
                "data data";
            position: relative;

        }
    }

    &__s {

        .card__type--top,
        .card__type--bottom {

            grid-row-gap: $grid-gap;
        }

        .card__type--top {
            padding: .86rem $grid-gap 1.25rem 1.31rem;
            grid-template-areas: "header header"
                "source source"
                "time time";

            @include responsive(phone) {
                grid-template-areas: "header header"
                    "source time";
            }

            @include responsive(phone) {
                padding: $grid-mobile-gap;
            }
        }

        .card__type--bottom {
            padding: 0 1.25rem 0 1.31rem;

            @include responsive(phone) {
                padding: 0 $grid-mobile-gap 0 $grid-mobile-gap;
            }
        }

    }


    &__m {

        .card__type--top,
        .card__type--bottom {
            grid-row-gap: 1.33rem;
        }

        .card__type--top {
            grid-template-areas:
                "header header"
                "source time";
            padding: $grid-gap $grid-gap .5rem $grid-gap;

            @include responsive(phone) {
                padding: $grid-mobile-gap $grid-mobile-gap 1rem $grid-mobile-gap;
            }
        }

        .card__type--bottom {
            padding: $grid-gap;

            @include responsive(phone) {
                padding: $grid-mobile-gap;
            }
        }

        .card--time-text {
            text-align: right;
        }

    }

    &__l {

        .card__type--top,
        .card__type--bottom {
            grid-row-gap: 1.5rem;
        }

        .card__type--top {
            grid-template-areas: " header header"
                "source time";
            padding: $grid-gap;

            @include responsive(phone) {
                padding: $grid-mobile-gap $grid-mobile-gap 1rem $grid-mobile-gap;
            }
        }

        .card__type--bottom {
            padding: 0 $grid-gap $grid-gap $grid-gap;

            @include responsive(phone) {
                padding: 0 $grid-mobile-gap $grid-mobile-gap $grid-mobile-gap;
            }
        }

        .card--time-text {
            text-align: right;
        }

        .card__description {
            margin-right: 1.5rem;
            color: $color-dark;
        }
    }

    &__critical {
        background-color: $card-critical-color;
        color: white;

        &::after {
            content: "";
            display: block;
            height: .0005rem;
        }

        &~.card__type--bottom {
            &::before {
                content: "";
                display: block;
                height: 1.25rem;
                width: 100%;
                background-color: $card-color;
                border-top-left-radius: $grid-gap;
                border-top-right-radius: $grid-gap;
                position: absolute;
                top: -1rem;
            }
        }
    }

    &__info {
        background-color: $card-color;
        color: $color-dark;

    }

    &__header {
        grid-area: header;
        width: 100%;
        display: flex;
        align-items: center;

        .card__icon {
            margin-right: 1.21rem;
        }
    }

    &__title {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;

    }

    &__source {
        grid-area: source;
        align-self: end;
    }

    &__time {
        grid-area: time;
        align-self: end;
    }

    &__description {
        grid-area: description;
        z-index: 2;
    }

    &__data {
        grid-area: data;
        align-self: end;
        z-index: 2;

        &__image {
            overflow: hidden;

            &--img {
                width: 100%;
                border-radius: $grid-gap;
            }

            &__settings {
                display: none;

                @include responsive(phone) {
                    display: flex;
                    justify-content: space-between;
                    margin-top: .88rem;
                    flex-wrap: wrap;
                }

                .settings--range {
                    flex: 1 0 100%;
                }
            }
        }

        &__climate {
            display: flex;
        }

        &__temperature {
            margin-right: 3.25rem;
        }

        &__buttons {
            display: flex;

            @include responsive(phone) {
                justify-content: space-between;
            }

            &--btn {
                width: 8.25rem;
                height: 3.38rem;
                background: $button-color;
                border-radius: 8px;

                @include responsive(phone) {
                    height: 2.25rem;

                }

                &:first-child {
                    background: $button-active-color;
                    margin-right: 1.13rem;

                    @include responsive(phone) {
                        margin-right: .25rem;
                    }
                }

                &:hover {
                    background: $button-active-color;
                    cursor: pointer;
                }

            }
        }

        &__albumcover {
            &--img {
                width: 3.31rem;
                border-radius: 20%;
            }

            margin-right: 1rem;
        }

        &__music {
            width: 100%;

            .music {

                &__header,
                &__player,
                &__track,
                &__icons {
                    display: flex;
                    align-items: center;
                }

                &__header {
                    margin-bottom: $grid-gap;
                }

                &--img {
                    width: 3.31rem;
                    border-radius: 20%;
                }

                &__main {
                    width: 100%;

                    &>.card__data__artist:first-child {
                        margin-bottom: 1rem;
                    }
                }

                &__track {
                    width: 100%;

                    &--range {
                        flex: 1 1 100%;
                        cursor: pointer;
                        -webkit-appearance: none;

                        &:focus {
                            outline: none;
                        }

                        &::-webkit-slider-runnable-track {
                            border: 1px solid $color-music-range-1;
                            height: .06rem;

                        }

                        &::-moz-range-track {
                            border: 1px solid $color-music-range-1;
                        }

                        &::-ms-thumb {
                            border: 1px solid $color-music-range-1;
                        }

                        &::-moz-range-thumb {
                            background: $color-music-range-2;
                            border-radius: 4.5px;
                        }

                        &::-webkit-slider-thumb {
                            -webkit-appearance: none;
                            transform: translateY(-50%);
                            background: $color-music-range-2;
                            border-radius: 4.5px;
                            height: 1.25rem;
                            width: 0.75rem;
                        }

                    }
                }

                &__player {
                    width: 100%;

                    &--range {
                        width: 100%;
                        flex: 1 1 100%;
                        -webkit-appearance: none;

                        &::-webkit-slider-runnable-track {
                            border-radius: 2px;
                            background-color: $color-music-range-2;
                            height: .25rem;
                        }

                        &::-moz-range-track {
                            border-radius: 2px;
                            background-color: $color-music-range-2;
                        }

                        &::-ms-thumb {
                            border-radius: 2px;
                            background-color: $color-music-range-2;
                        }

                        &::-moz-range-thumb {
                            background: $color-music-range-3;
                            border-radius: 26px;
                        }

                        &::-webkit-slider-thumb {
                            -webkit-appearance: none;
                            transform: translateY(-30%);
                            background: $color-music-range-3;
                            border-radius: 26px;
                            height: 1rem;
                            width: 1rem;
                        }
                    }
                }

                &__icons {
                    &--item {
                        &:first-child {
                            margin-right: 1.69rem;
                        }

                        &:nth-child(2) {
                            margin-right: .2rem;
                        }
                    }
                }
            }
        }


    }

    &__hover-icon {
        display: none;
    }



    &:hover {
        background-color: #F3F3F3;
        box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.50);

        .card__info,
        .card__info::before {
            background-color: #F3F3F3;
        }

        .card__hover-icon {
            display: block;
            position: absolute;
            right: $grid-gap;
            z-index: 100;

            &--top {
                top: $grid-gap;

                @include responsive(phove) {
                    top: $grid-mobile-gap;
                }
            }

            &--bottom {
                bottom: $grid-gap;

                @include responsive(phove) {
                    bottom: $grid-mobile-gap;
                }
            }
        }
    }

}