.Card {
    display: block;
    background-color: $card-color;

    font-size: 0.88rem;
    border-radius: 1.25rem;
    cursor: pointer;
    transition: all .2s;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;

    &-Type {

        &-Top {
            display: grid;
            grid-template-columns: 1fr;

            grid-row-gap: 1.25rem;
        }

        &-Bottom {
            flex: 1 0;
            grid-area: info;

            display: grid;
            grid-template-areas:
                "description description"
                "data data";
            position: relative;

        }
    }

    &-s {

        .Card-type_top,
        .Card-type_bottom {

            grid-row-gap: $grid-gap;
        }

        .Card-type_top {
            padding: .86rem $grid-gap 1.25rem 1.31rem;
            grid-template-areas: "header header"
                "source source"
                "time time";

            @include responsive(phone) {
                grid-template-areas: "header header"
                    "source time";
            }

            @include responsive(phone) {
                padding: $grid-mobile-gap;
            }
        }

        .Card-type_bottom {
            padding: 0 1.25rem 0 1.31rem;

            @include responsive(phone) {
                padding: 0 $grid-mobile-gap 0 $grid-mobile-gap;
            }
        }

    }


    &-m {

        .Card-type_top,
        .Card-type_bottom {
            grid-row-gap: 1.33rem;
        }

        .Card-type_top {
            grid-template-areas:
                "header header"
                "source time";
            padding: $grid-gap $grid-gap .5rem $grid-gap;

            @include responsive(phone) {
                padding: $grid-mobile-gap $grid-mobile-gap 1rem $grid-mobile-gap;
            }
        }

        .Card-type_bottom {
            padding: $grid-gap;

            @include responsive(phone) {
                padding: $grid-mobile-gap;
            }
        }

        .Card_time-text {
            text-align: right;
        }

    }

    &-l {

        .Card-type_top,
        .Card-type_bottom {
            grid-row-gap: 1.5rem;
        }

        .Card-type_top {
            grid-template-areas: " header header"
                "source time";
            padding: $grid-gap;

            @include responsive(phone) {
                padding: $grid-mobile-gap $grid-mobile-gap 1rem $grid-mobile-gap;
            }
        }

        .Card-type_bottom {
            padding: 0 $grid-gap $grid-gap $grid-gap;

            @include responsive(phone) {
                padding: 0 $grid-mobile-gap $grid-mobile-gap $grid-mobile-gap;
            }
        }

        .Card_time-text {
            text-align: right;
        }

        .Card-Description {
            margin-right: 1.5rem;
            color: $color-dark;
        }
    }

    &-critical {
        background-color: $card-critical-color;
        color: white;

        &::after {
            content: "";
            display: block;
            height: .0005rem;
        }

        &~.Card-type_bottom {
            &::before {
                content: "";
                display: block;
                height: 1.25rem;
                width: 100%;
                background-color: $card-color;
                border-top-left-radius: $grid-gap;
                border-top-right-radius: $grid-gap;
                position: absolute;
                top: -1rem;
            }
        }
    }

    &-info {
        background-color: $card-color;
        color: $color-dark;

    }

    &-header {
        grid-area: header;
        width: 100%;
        display: flex;
        align-items: center;

        .Card-Icon {
            margin-right: 1.21rem;
        }
    }

    &-title {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;

    }

    &-source {
        grid-area: source;
        align-self: end;
    }

    &-time {
        grid-area: time;
        align-self: end;
    }

    &-description {
        grid-area: description;
        z-index: 2;
    }

    &-data {
        grid-area: data;
        align-self: end;
        z-index: 2;

        &-image {
            overflow: hidden;

            &_img {
                width: 100%;
                border-radius: $grid-gap;
            }

            &-settings {
                display: none;

                @include responsive(phone) {
                    display: flex;
                    justify-content: space-between;
                    margin-top: .88rem;
                    flex-wrap: wrap;
                }

                .settings_range {
                    flex: 1 0 100%;
                }
            }
        }

        &-climate {
            display: flex;
        }

        &-temperature {
            margin-right: 3.25rem;
        }

        &-buttons {
            display: flex;

            @include responsive(phone) {
                justify-content: space-between;
            }

            &_btn {
                width: 8.25rem;
                height: 3.38rem;
                background: $button-color;
                border-radius: 8px;

                @include responsive(phone) {
                    height: 2.25rem;

                }

                &:first-child {
                    background: $button-active-color;
                    margin-right: 1.13rem;

                    @include responsive(phone) {
                        margin-right: .25rem;
                    }
                }

                &:hover {
                    background: $button-active-color;
                    cursor: pointer;
                }

            }
        }

        &-albumcover {
            &_img {
                width: 3.31rem;
                border-radius: 20%;
            }

            margin-right: 1rem;
        }

        &-music {
            width: 100%;


        }


    }

    &-HoverIcon {
        display: none;
    }



    &:hover {
        background-color: #F3F3F3;
        box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.50);

        .Card-Info,.Card-Info::before {
            background-color: #F3F3F3;
        }

        .Card-HoverIcon {
            display: block;
            position: absolute;
            right: $grid-gap;
            z-index: 100;

            &_top {
                top: $grid-gap;

                @include responsive(phove) {
                    top: $grid-mobile-gap;
                }
            }

            &_bottom {
                bottom: $grid-gap;

                @include responsive(phove) {
                    bottom: $grid-mobile-gap;
                }
            }
        }
    }

}

.Music {

    &-Header,
    &-Player,
    &-Track,
    &-Icons {
        display: flex;
        align-items: center;
    }

    &-Header {
        margin-bottom: $grid-gap;
    }

    &_Img {
        width: 3.31rem;
        border-radius: 20%;
    }

    &-Main {
        width: 100%;

        &>.Card-data-artist:first-child {
            margin-bottom: 1rem;
        }
    }

    &-Track {
        width: 100%;

        &_range {
            flex: 1 1 100%;
            cursor: pointer;
            -webkit-appearance: none;

            &:focus {
                outline: none;
            }

            &::-webkit-slider-runnable-track {
                border: 1px solid $color-music-range-1;
                height: .06rem;

            }

            &::-moz-range-track {
                border: 1px solid $color-music-range-1;
            }

            &::-ms-thumb {
                border: 1px solid $color-music-range-1;
            }

            &::-moz-range-thumb {
                background: $color-music-range-2;
                border-radius: 4.5px;
            }

            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                transform: translateY(-50%);
                background: $color-music-range-2;
                border-radius: 4.5px;
                height: 1.25rem;
                width: 0.75rem;
            }

        }
    }

    &-Player {
        width: 100%;

        &_range {
            width: 100%;
            flex: 1 1 100%;
            -webkit-appearance: none;

            &::-webkit-slider-runnable-track {
                border-radius: 2px;
                background-color: $color-music-range-2;
                height: .25rem;
            }

            &::-moz-range-track {
                border-radius: 2px;
                background-color: $color-music-range-2;
            }

            &::-ms-thumb {
                border-radius: 2px;
                background-color: $color-music-range-2;
            }

            &::-moz-range-thumb {
                background: $color-music-range-3;
                border-radius: 26px;
            }

            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                transform: translateY(-30%);
                background: $color-music-range-3;
                border-radius: 26px;
                height: 1rem;
                width: 1rem;
            }
        }
    }

    &-icons {
        &_item {
            &:first-child {
                margin-right: 1.69rem;
            }

            &:nth-child(2) {
                margin-right: .2rem;
            }
        }
    }
}