.Icon {

    &-HeaderNav {
        width: 1rem;
    }

    &-Card {

        width: 3.25rem;
        height: 3.25rem;
        display: flex;

        @include responsive(phone) {
            width: 2.25rem;
            height: 2.25rem;
        }

        &-Hover {
            width: 1rem;
            height: 1rem;
        }

    }

    &-Music {
        display: block;
        width: 53px;
        height: 52px;
    }

    &-Rotated {
        transform: rotate(180deg);
    }


}