.Icon {

    &_headerNav {
        width: 1rem;
    }

    &_card {

        width: 3.25rem;
        height: 3.25rem;
        display: flex;

        @include responsive(phone) {
            width: 2.25rem;
            height: 2.25rem;
        }

        &_hover {
            width: 1rem;
            height: 1rem;
        }

    }

    &_music {
        display: block;
        width: 53px;
        height: 52px;
    }

    &_rotated {
        transform: rotate(180deg);
    }


}