.icon {

    &--card {

        width: 3.25rem;
        height: 3.25rem;
        display: flex;

        @include responsive(phone) {
            width: 2.25rem;
            height: 2.25rem;
        }

        &__hover {
            width: 1rem;
            height: 1rem;
        }

    }

    &--music {
        display: block;
        width: 53px;
        height: 52px;
    }

    &--rotated {
        transform: rotate(180deg);
    }

    &--header-nav {
        width: 1rem;
    }
}