.heading--primary {
    font-size: 36px;
    color: $color-dark;
    text-align: left;

    @include responsive(phone) {
        font-size: 24px;
    }
}


.text--nav-link {
    font-size: 1rem;
    line-height: 20px;
    font-weight: bold;
    opacity: 0.6;

    &:hover,
    &:active,
    &:focus {
        opacity: 1;
    }
}

.link-active {
    opacity: 1;
}

.text--footer {
    font-size: 12px;
    color: $color-light-grey;
    letter-spacing: 0.01px;
}

.text--bold {
    font-weight: bold;
}

.card {
    &--heading {
        font-size: 24px;
        font-weight: bold;

        @include responsive(phone) {
            font-size: 14px;
        }
    }

    &--source-text,
    &--time-text {
        font-size: 18px;
        font-weight: normal;

        @include responsive(phone) {
            font-size: 12px;
        }
    }

    &--image-settings {
        font-size: 12px;
    }

    &--paragraph {
        font-size: 20px;
        color: black;

        @include responsive(phone) {
            font-size: 18px;
        }
    }

    &__l {
        .card--paragraph {
            font-size: 24px;
            color: $color-dark;

            @include responsive(phone) {
                font-size: 18px;
            }
        }
    }


    &--data {

        &-climate {
            font-size: 18px;
            color: black;

            @include responsive(phone) {
                font-size: 14px;
            }
        }


        &-paragraph {
            font-size: 20px;
            color: black;
        }

        &-music-title {
            font-size: 20px;
            color: black;

            @include responsive(phone) {
                font-size: 18px;
            }
        }

        &-music {
            font-size: 14px;
            color: rgba($color-music-text, .84);

            @include responsive(phone) {
                font-size: 14px;
            }
        }

    }



}


.heading-temperature{
    font-size: 36px;
    letter-spacing: 0;
    font-weight: bold;
    @include responsive(phone) {
        font-size: 24px;
    }
}

.heading-greeting, .heading-popup{
    font-weight: bold;
    font-size: 27px;
    @include responsive(phone) {
        font-size: 18px;
    }
}

.section-heading{
    margin-bottom: 1.25rem;
    @include responsive(phone) {
        margin-bottom: 1.69rem;
    }
}
.heading-section{
    font-weight: bold;
    font-size: 18px;
}

.heading--place{
    font-size: 14px;
    color: $color-light-grey;
    @include responsive(phone) {
        font-size: 12px;
        font-weight: normal;
    }
}

.heading-card{
    font-size: 14px;
    font-weight: bold;
    color:  $color-dark;
    letter-spacing: 0;
}

.heading--filter,.heading-settings{
    font-weight: bold;
    font-size: 13px;
    color:black;
}
.heading-settings{
    @include responsive(phone) {
        font-weight: normal;
    }
}
.paragraph-1{
    font-size: 14px;
    color: $color-dark;
    @include responsive(phone) {
        font-size: 12px;
    }
}

.paragraph-2{
    font-size: 12px;
    color: $color-light-grey;
    letter-spacing: 0;
}

.header-nav-link{
    font-size: 16px;
    line-height: 20px;// font-family: Arial-BoldMT;
    font-weight: bold;
    opacity: 0.6;  
    
    &:hover,&:active,&:focus{
        opacity: 1; 
    }
}

.link-active{
    opacity: 1;  
}

.footer-text{
    font-size: 12px;
    color: $color-light-grey;
    letter-spacing: 0.01px;
    
}

.heading--button{
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0;
}

.heading--popup-slider{
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0;
    font-weight: bold;
}

.heading--thermostat{
    font-weight: bold;
    font-size: 66px;
    color: $color-dark;
    letter-spacing: 0;
}