.Heading-Primary {
  font-size: 36px;
  color: $color-dark;
  text-align: left;

  @include responsive(phone) {
    font-size: 24px;
  }
}

.Header-Nav-Link {
  font-size: 1rem;
  line-height: 20px;
  font-weight: bold;
  opacity: 0.6;

  &:hover,
  &:active,
  &:focus {
    opacity: 1;
  }
}

.LinkActive {
  opacity: 1;
}

.Text {
  &_type_footer {
    font-size: 12px;
    color: $color-light-grey;
    letter-spacing: 0.01px;
  }

  &_type_bold {
    font-weight: bold;
  }

  &-Card {
    &_type_heading {
      font-size: 24px;
      font-weight: bold;

      @include responsive(phone) {
        font-size: 14px;
      }
    }

    &_type_sourceText,
    &_type_timeText {
      font-size: 18px;
      font-weight: normal;

      @include responsive(phone) {
        font-size: 12px;
      }
    }

    &_type_settings {
      font-size: 12px;
    }

    &_type_paragraph {
      font-size: 20px;
      color: black;

      @include responsive(phone) {
        font-size: 18px;
      }
    }

    &_l {
      .Card_type_paragraph {
        font-size: 24px;
        color: $color-dark;

        @include responsive(phone) {
          font-size: 18px;
        }
      }
    }

  }

  &-CardData {

    &_type_climate {
      font-size: 18px;
      color: black;

      @include responsive(phone) {
        font-size: 14px;
      }
    }

    &_type_paragraph {
      font-size: 20px;
      color: black;
    }

    &_type_musicTitle {
      font-size: 20px;
      color: black;

      @include responsive(phone) {
        font-size: 18px;
      }
    }

    &_type_music {
      font-size: 14px;
      color: rgba($color-music-text, .84);

      @include responsive(phone) {
        font-size: 14px;
      }
    }

  }
}


