/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: inherit; }
  a:focus {
    outline: none;
    border: none; }

button {
  outline: none;
  border: none; }

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: inherit; }

html {
  box-sizing: border-box; }

body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  color: #333333;
  background-color: #FFFFFF; }

.Heading-Primary {
  font-size: 36px;
  color: #333333;
  text-align: left; }
  @media only screen and (max-width: 37.5em) {
    .Heading-Primary {
      font-size: 24px; } }

.Header-Nav-Link {
  font-size: 1rem;
  line-height: 20px;
  font-weight: bold;
  opacity: 0.6; }
  .Header-Nav-Link:hover, .Header-Nav-Link:active, .Header-Nav-Link:focus {
    opacity: 1; }

.LinkActive {
  opacity: 1; }

.Text_type_footer {
  font-size: 12px;
  color: #858585;
  letter-spacing: 0.01px; }

.Text_type_bold {
  font-weight: bold; }

.Text-Card_type_heading {
  font-size: 24px;
  font-weight: bold; }
  @media only screen and (max-width: 37.5em) {
    .Text-Card_type_heading {
      font-size: 14px; } }

.Text-Card_type_sourceText, .Text-Card_type_timeText {
  font-size: 18px;
  font-weight: normal; }
  @media only screen and (max-width: 37.5em) {
    .Text-Card_type_sourceText, .Text-Card_type_timeText {
      font-size: 12px; } }

.Text-Card_type_settings {
  font-size: 12px; }

.Text-Card_type_paragraph {
  font-size: 20px;
  color: black; }
  @media only screen and (max-width: 37.5em) {
    .Text-Card_type_paragraph {
      font-size: 18px; } }

.Text-Card_l .Card_type_paragraph {
  font-size: 24px;
  color: #333333; }
  @media only screen and (max-width: 37.5em) {
    .Text-Card_l .Card_type_paragraph {
      font-size: 18px; } }

.Text-CardData_type_climate {
  font-size: 18px;
  color: black; }
  @media only screen and (max-width: 37.5em) {
    .Text-CardData_type_climate {
      font-size: 14px; } }

.Text-CardData_type_paragraph {
  font-size: 20px;
  color: black; }

.Text-CardData_type_musicTitle {
  font-size: 20px;
  color: black; }
  @media only screen and (max-width: 37.5em) {
    .Text-CardData_type_musicTitle {
      font-size: 18px; } }

.Text-CardData_type_music {
  font-size: 14px;
  color: rgba(161, 161, 161, 0.84); }
  @media only screen and (max-width: 37.5em) {
    .Text-CardData_type_music {
      font-size: 14px; } }

.Grid {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 5.75rem 1fr 4rem;
  grid-template-columns: minmax(1.25rem, 1fr) 64rem minmax(1.25rem, 1fr);
  grid-template-areas: "header header header"  ". content ." "footer footer footer"; }
  @media only screen and (max-width: 56.25em) {
    .Grid {
      width: 100%;
      grid-template-rows: 4.13rem max-content minmax(3rem, 4rem);
      grid-template-columns: 1.25rem 1fr 1.25rem; } }
  .Grid .Header {
    grid-area: header; }
  .Grid .Content {
    grid-area: content; }
  .Grid .Footer {
    grid-area: footer; }

.Header {
  position: sticky;
  display: flex;
  align-items: center;
  border-bottom: 0.06rem solid #F0F0F0; }
  @media only screen and (max-width: 37.5em) {
    .Header {
      border-bottom: none; } }
  .Header-Logo {
    margin-right: 1.31rem;
    margin-left: 2.63rem;
    width: 6.75rem; }
    .Header-Logo .Logo {
      width: 100%; }
    @media only screen and (max-width: 37.5em) {
      .Header-Logo {
        margin-left: 1.25rem; } }
  .Header-Nav {
    position: relative; }
    @media only screen and (max-width: 37.5em) {
      .Header-Nav {
        margin-left: auto;
        margin-right: 1.25rem; } }
    @media only screen and (max-width: 37.5em) {
      .Header-Nav-List {
        display: none; } }
    .Header-Nav-Item {
      display: inline-block; }
      .Header-Nav-Item:not(:last-child) {
        margin-right: 1.75rem; }
    .Header-Nav-Checkbox {
      display: none; }
    .Header-Nav-Toggle {
      display: none; }
      @media only screen and (max-width: 37.5em) {
        .Header-Nav-Toggle {
          display: block;
          width: 1rem;
          height: .83rem;
          cursor: pointer; } }
    .Header-Nav-Checkbox:checked + .Header-Nav-List {
      display: block;
      position: absolute;
      left: -5rem;
      z-index: 100;
      padding: 0 1rem;
      background-color: white;
      border: 1px solid #FAFAFA; }
      .Header-Nav-Checkbox:checked + .Header-Nav-List > * {
        padding-top: .5rem;
        padding-bottom: .5rem;
        border-bottom: 1px solid #FAFAFA; }

.Content {
  height: 100%;
  width: 64rem;
  padding-top: 1.13rem;
  padding-bottom: 5rem; }
  @media only screen and (min-width: 112.5em) {
    .Content {
      width: 80rem; } }
  @media only screen and (max-width: 56.25em) {
    .Content {
      width: 100%; } }
  @media only screen and (max-width: 37.5em) {
    .Content {
      padding-top: 0; } }
  .Content-Header {
    margin-bottom: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .Content-Header {
        margin-bottom: 1.19rem; } }

.Events {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1.25rem;
  grid-auto-flow: dense; }
  @media only screen and (max-width: 56.25em) {
    .Events {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1rem; } }
  @media only screen and (max-width: 37.5em) {
    .Events {
      grid-template-columns: 1fr;
      grid-gap: 1rem; } }

.Card_size_s {
  grid-column-start: span 2;
  grid-row-start: span 1; }
  @media only screen and (max-width: 37.5em) {
    .Card_size_s {
      grid-column-start: span 1; } }

.Card_size_m {
  grid-column-start: span 3;
  grid-row-start: span 1; }
  @media only screen and (max-width: 56.25em) {
    .Card_size_m {
      grid-column-start: span 4; } }
  @media only screen and (max-width: 37.5em) {
    .Card_size_m {
      grid-column-start: span 1; } }

.Card_size_l {
  grid-column-start: span 4;
  grid-row-start: span 3; }
  @media only screen and (max-width: 37.5em) {
    .Card_size_l {
      grid-column-start: span 1; } }

.Footer {
  display: flex;
  align-items: center;
  border-top: 1px solid #F0F0F0; }
  .Footer-List {
    width: 100%;
    display: flex;
    padding-left: 2.5rem; }
  .Footer-Item {
    display: inline-block;
    margin-right: 1rem; }
    .Footer-Item:last-child {
      margin-left: auto;
      margin-right: 2.06rem; }
  @media only screen and (max-width: 37.5em) {
    .Footer {
      display: none; } }

.Card {
  display: block;
  background-color: #FAFAFA;
  font-size: 0.88rem;
  border-radius: 1.25rem;
  cursor: pointer;
  transition: all .2s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative; }
  .Card:hover {
    background: #FFD93E;
    cursor: pointer; }
  .Card-Top {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1.25rem; }
  .Card-Bottom {
    flex: 1 0;
    grid-area: info;
    display: grid;
    grid-template-areas: "description description" "data data";
    position: relative; }
  .Card-Top_type_critical, .Card-Bottom_type_critical {
    background-color: #DB5341;
    color: white; }
    .Card-Top_type_critical::after, .Card-Bottom_type_critical::after {
      content: "";
      display: block;
      height: .0005rem; }
    .Card-Top_type_critical ~ .Card-Bottom::before, .Card-Bottom_type_critical ~ .Card-Bottom::before {
      content: "";
      display: block;
      height: 1.25rem;
      width: 100%;
      background-color: #FAFAFA;
      border-top-left-radius: 1.25rem;
      border-top-right-radius: 1.25rem;
      position: absolute;
      top: -1rem; }
  .Card-Top_type_info, .Card-Bottom_type_info {
    background-color: #FAFAFA;
    color: #333333; }
  .Card_size_s .Card-Top,
  .Card_size_s .Card-Bottom {
    grid-row-gap: 1.25rem; }
  .Card_size_s .Card-Top {
    padding: 0.86rem 1.25rem 1.25rem 1.31rem;
    grid-template-areas: "header header" "source source" "time time"; }
    @media only screen and (max-width: 37.5em) {
      .Card_size_s .Card-Top {
        grid-template-areas: "header header" "source time"; } }
    @media only screen and (max-width: 37.5em) {
      .Card_size_s .Card-Top {
        padding: 1rem; } }
  .Card_size_s .Card-Bottom {
    padding: 0 1.25rem 0 1.31rem; }
    @media only screen and (max-width: 37.5em) {
      .Card_size_s .Card-Bottom {
        padding: 0 1rem 0 1rem; } }
  .Card_size_m .Card-Top,
  .Card_size_m .Card-Bottom {
    grid-row-gap: 1.33rem; }
  .Card_size_m .Card-Top {
    grid-template-areas: "header header" "source time";
    padding: 1.25rem 1.25rem 0.5rem 1.25rem; }
    @media only screen and (max-width: 37.5em) {
      .Card_size_m .Card-Top {
        padding: 1rem 1rem 1rem 1rem; } }
  .Card_size_m .Card-Bottom {
    padding: 1.25rem; }
    @media only screen and (max-width: 37.5em) {
      .Card_size_m .Card-Bottom {
        padding: 1rem; } }
  .Card_size_m .Card_timeText {
    text-align: right; }
  .Card_size_l .Card-Top,
  .Card_size_l .Card-Bottom {
    grid-row-gap: 1.5rem; }
  .Card_size_l .Card-Top {
    grid-template-areas: " header header" "source time";
    padding: 1.25rem; }
    @media only screen and (max-width: 37.5em) {
      .Card_size_l .Card-Top {
        padding: 1rem 1rem 1rem 1rem; } }
  .Card_size_l .Card-Bottom {
    padding: 0 1.25rem 1.25rem 1.25rem; }
    @media only screen and (max-width: 37.5em) {
      .Card_size_l .Card-Bottom {
        padding: 0 1rem 1rem 1rem; } }
  .Card_size_l .Card_timeText {
    text-align: right; }
  .Card_size_l .Card-Description {
    margin-right: 1.5rem;
    color: #333333; }
  .Card-Header {
    grid-area: header;
    width: 100%;
    display: flex;
    align-items: center; }
    .Card-Header .Card-Icon {
      margin-right: 1.21rem; }
  .Card-Title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; }
  .Card-Source {
    grid-area: source;
    align-self: end; }
  .Card-Time {
    grid-area: time;
    align-self: end; }
  .Card-Description {
    grid-area: description;
    z-index: 2; }
  .Card-HoverIcon {
    display: none; }
  .Card:hover {
    background-color: #F3F3F3;
    box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.5); }
    .Card:hover .Card-Top_type_info, .Card:hover .Card-Bottom_type_info, .Card:hover .Card-Top_type_info::before, .Card:hover .Card-Bottom_type_info::before {
      background-color: #F3F3F3; }
    .Card:hover .Card-HoverIcon {
      display: block;
      position: absolute;
      right: 1.25rem;
      z-index: 100; }
      .Card:hover .Card-HoverIcon_top {
        top: 1.25rem; }
      .Card:hover .Card-HoverIcon_bottom {
        bottom: 1.25rem; }

.CardData {
  grid-area: data;
  align-self: end;
  z-index: 2; }
  .CardData-ImageBox {
    overflow: hidden; }
    .CardData-ImageBox-Image {
      width: 100%;
      border-radius: 1.25rem; }
    .CardData-ImageBox-Settings {
      display: none; }
      @media only screen and (max-width: 37.5em) {
        .CardData-ImageBox-Settings {
          display: flex;
          justify-content: space-between;
          margin-top: .88rem;
          flex-wrap: wrap; } }
      .CardData-ImageBox-Settings-Range {
        flex: 1 0 100%; }
  .CardData-Climate {
    display: flex; }
  .CardData-Temperature {
    margin-right: 3.25rem; }
  .CardData-Buttons {
    display: flex; }
    @media only screen and (max-width: 37.5em) {
      .CardData-Buttons {
        justify-content: space-between; } }
    .CardData-Buttons_btn {
      width: 8.25rem;
      height: 3.38rem;
      background: #E5E5E5;
      border-radius: 8px; }
      @media only screen and (max-width: 37.5em) {
        .CardData-Buttons_btn {
          height: 2.25rem; } }
      .CardData-Buttons_btn:first-child {
        background: #FFD93E;
        margin-right: 1.13rem; }
        @media only screen and (max-width: 37.5em) {
          .CardData-Buttons_btn:first-child {
            margin-right: .25rem; } }
      .CardData-Buttons_btn:hover {
        background: #FFD93E;
        cursor: pointer; }
  .CardData-Music {
    width: 100%; }

.Music-Header, .Music-Player, .Music-Track, .Music-Icons {
  display: flex;
  align-items: center; }

.Music-Albumcover {
  margin-right: 1rem; }
  .Music-Albumcover-Image {
    width: 3.31rem;
    border-radius: 20%; }

.Music-Header {
  margin-bottom: 1.25rem; }

.Music-Image {
  width: 3.31rem;
  border-radius: 20%; }

.Music-Main {
  width: 100%; }
  .Music-Main > .Music-Artist:first-child {
    margin-bottom: 1rem; }

.Music-Track {
  width: 100%; }
  .Music-Track-Range {
    flex: 1 1 100%;
    cursor: pointer;
    -webkit-appearance: none; }
    .Music-Track-Range:focus {
      outline: none; }
    .Music-Track-Range::-webkit-slider-runnable-track {
      border: 1px solid #979797;
      height: .06rem; }
    .Music-Track-Range::-moz-range-track {
      border: 1px solid #979797; }
    .Music-Track-Range::-ms-thumb {
      border: 1px solid #979797; }
    .Music-Track-Range::-moz-range-thumb {
      background: rgba(216, 216, 216, 0.3);
      border-radius: 4.5px; }
    .Music-Track-Range::-webkit-slider-thumb {
      -webkit-appearance: none;
      transform: translateY(-50%);
      background: rgba(216, 216, 216, 0.3);
      border-radius: 4.5px;
      height: 1.25rem;
      width: 0.75rem; }

.Music-Player {
  width: 100%; }
  .Music-Player-Range {
    width: 100%;
    flex: 1 1 100%;
    -webkit-appearance: none; }
    .Music-Player-Range::-webkit-slider-runnable-track {
      border-radius: 2px;
      background-color: rgba(216, 216, 216, 0.3);
      height: .25rem; }
    .Music-Player-Range::-moz-range-track {
      border-radius: 2px;
      background-color: rgba(216, 216, 216, 0.3); }
    .Music-Player-Range::-ms-thumb {
      border-radius: 2px;
      background-color: rgba(216, 216, 216, 0.3); }
    .Music-Player-Range::-moz-range-thumb {
      background: #605757;
      border-radius: 26px; }
    .Music-Player-Range::-webkit-slider-thumb {
      -webkit-appearance: none;
      transform: translateY(-30%);
      background: #605757;
      border-radius: 26px;
      height: 1rem;
      width: 1rem; }

.Music-Icons-Item:first-child {
  margin-right: 1.69rem; }

.Music-Icons-Item:nth-child(2) {
  margin-right: .2rem; }

.Icon-HeaderNav {
  width: 1rem; }

.Icon-Card {
  width: 3.25rem;
  height: 3.25rem;
  display: flex; }
  @media only screen and (max-width: 37.5em) {
    .Icon-Card {
      width: 2.25rem;
      height: 2.25rem; } }
  .Icon-Card-Hover {
    width: 1rem;
    height: 1rem; }

.Icon-Music {
  display: block;
  width: 53px;
  height: 52px; }

.Icon-Rotated {
  transform: rotate(180deg); }
